<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-5 post_wrapper text-center">
			<p class="post_title"> Title : <%= @post.title %> </p>
			<img src="<%= @post.source %>" class="post_pic">
		</div>
		<div class="col-md-3">
		</div>
  </div>
</div>

<div class= "row container-fluid text-center">
	<div class="col-md-4"></div>
		<div class="col-md-4">

			
				<% @post.comments.order(points: :desc).each do |comment| %>

					

					<% if comment.user %>

						<div class="comment_container text-left">
						
							<div class="row">
								<div class="col-md-8">
											<div class="comment_description"><%= comment.description %></div>
											<span class="added_on"> by <%= comment.user.email %> added on: <%= comment.created_at %></span>
								</div>	

								<div class="col-md-3">
									<div class="row">
										<div class=" col-md-6 upvote_button">

											<%= form_for [@post,comment] do |f| %>
												<%= hidden_field_tag :vote, 1 %>
												<%= f.submit ' + ' %>
											<% end %>
										</div>

										<div class=" col-md-6 downvote_button">
											<%= form_for [@post,comment] do |f| %>
												<%= hidden_field_tag :vote, -1 %>
												<%= f.submit ' - ' %>
											<% end %>
										</div>
									</div>

								</div>	

								<div class= "col-md-1">
									<p class="points"><%= comment.points %></p>
								</div>

							</div>

					<% end %>

					</div>
				<% end %>
		</div>
		<div class="col-md-4"></div>
</div>
<hr>
<br>


<% if current_user %>

	<div class="row container-fluid">
		<div class="col-md-4"></div>
		<div class="col-md-4 text-center">
			<%= form_for([@post,@comment], html: {class:"form-inline",role:"form"}) do |f| %>

				<% if @post.errors.any? %>

					<div id="error_explanation">
			     <h4><%= pluralize(@comment.errors.count, "error") %> prohibited this product from being saved:</h4>
			     <ul>
			       <% @comment.errors.full_messages.each do |msg| %>
			         <li><%= msg %></li>
			       <% end %>
			         <hr>
			     </ul>
			    </div>
			  <% end %>

				<%= f.label :description, "Comment", :class => " comment_label " %>
			  <div class="field form-group">
			  <%= f.text_area :description, :class => "form-control" %>
				</div>
				<button type:"submit" class="btn btn-warning btn-sm comment_submit">Submit</button>
			<% end %>
		</div>
		<div class="col-md-4"></div>
	</div>
<% end %>

