<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div>
		<%= render "layouts/nav" %>
	</div>

	<div class="catch-container">
	<img id="img" src="http://channeleyes.com/wp-content/uploads/2013/09/Product-Tour-Features-1920x500.jpg">
	<%= link_to "Submit a Post", new_post_path, class: 'btn btn-warning btn-sm' %>
	</div>

	<div class="container-fluid">

		<div class="row">

			<div class="col-md-2 sidebar">
					
						<ul class="nav nav-pills nav-stacked">
							<% counter= 0 %>
							<% Category.all.each do |c| %>
								<% counter += 1  %>
								<li><a class="sidebar_links" href="/posts?category_id=<%=counter%>"><%= c.name %> </a></li>
							<% end %>
						</ul>
			
			</div>

			<div class="col-md-10 ">
					<% if flash[:notice] %>
					    <p id="notice"><%= flash[:notice] %></p>
					<% end %>
					<% if flash[:alert] %>
						<p id="alert"><%= flash[:alert] %></p>
					<% end %>
					<%= yield %>
			</div>
		</div>

	</div>

</body>
</html>
